/* -----------------------------

   Responsive Starter Kit
   Common (common.css)

   Note: All visual styles can
   be overwritten, deleted, or
   moved to theme as needed.

   Table of Contents:
   -----------------------------
   + Basics
   + Colored Buttons
   + Non-semantic Helpers
   + Simple Grids

-------------------------------- */


/* Basics
-------------------------------- */

body {
      font: 1em/1.4 Helvetica, Arial, sans-serif;
      font-weight: 400;
      background-color: #fff;
      color: #222;
      text-align: center;
      margin: 0 auto;
      overflow-x: hidden;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
      -webkit-font-smoothing: subpixel-antialiased;
}

.wrapper {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1070px;
    position: relative;
}

a {
    text-decoration: underline;
    color: #005e81;
}

a:hover, a:focus {
    color: #00394e;
}

a:focus {
    outline: thin dotted;
}

a:hover, a:active {
    outline: thin dotted;
}

input[type=checkbox] {
    border: 0px !important;
}

::-moz-selection {
    background: #dcf0ff;
    color: inherit;
    text-shadow: none;
}

::selection {
    background: #dcf0ff;
    color: inherit;
    text-shadow: none;
}

/* HTML5 placeholder attribute (don't combine into a group selector) */

::-webkit-input-placeholder {
    color: #aaa; /* WebKit browsers */
}

:-moz-placeholder {
    color: #aaa; /* Mozilla Firefox 4 to 18 */
}

::-moz-placeholder {
    color: #aaa; /* Mozilla Firefox 19+ */
}

:-ms-input-placeholder {
    color: #aaa; /* Internet Explorer 10+ */
}

/* IE 10 Snap Mode Viewport Setting
   http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
*/

@media screen and (max-width: 400px) {
    @-ms-viewport {
        width: device-width;
    }
}

hr {
    border: 0;
    height: 1px;
    margin-bottom: 1em;
    background-color: #ddd;
}

h1, h2, h3, h4, h5, h6 {
    color: #111;
    font-weight: 600;
    line-height: 1;
    text-rendering: optimizeLegibility;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #005e81;
    text-decoration: none;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover,
h1 a:focus, h2 a:focus, h3 a:focus, h4 a:focus, h5 a:focus, h6 a:focus {
    text-decoration: underline;
    color: blue;
}

h1 {
    font-size: 2.5em;
    margin: 1em 0 0.5em;
}

.page-title {
    margin-top: 0;
}

h2 {
    font-size: 1.8em;
    margin: 1em 0 0.5em;
}

h3 {
    font-size: 1.5em;
    margin: 1em 0 0.5em;
}

h4 {
    font-size: 1.2em;
    margin: 1em 0 0.5em;
}

h5 {
    font-size: 1.1em;
    margin: 1em 0 0.5em;
}

h6 {
    font-size: 1em;
    margin: 1em 0 0.5em;
}

article, p, ul, ol, dl, blockquote, .box {
    margin: 0 0 1.5em;
}

img {
    max-width: 100%;
    height: auto !important;
    border: 0;
    outline: 0;
}

nav ul, nav ol {
    margin-bottom: 0;
}

table {
    margin: 0 0 1.5em;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-spacing: 0;
}

th {
    text-align: center;
    background-color: #ddd;
}

th, td {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 9px 10px;
}

tr:nth-child(even) td {
    background-color: #eee;
}

.caption img, .caption iframe, .caption object {
    display: block;
}

.caption-text {
    font-size: 0.875em;
    margin: 0.5em 0;
}

.modal-dialog {
    display: none; /* hide by default */
}


/* Colored Buttons
-------------------------------- */

.btn {
    position: relative;
    margin: 0 0.25em 0.75em 0;
    padding: 11px 20px 0 20px;
    border: 0;
    text-decoration: none;
    display: inline-block;
    height: 44px;
    font-size: 1.13em;
    font-weight: bold;
    text-align: center;
}

/* Colors can be added like this. */
.btn-gray {
    background: #bbb;
    color: #333;
}

.btn-gray:hover, .btn-gray:focus {
    color: #111;
}

/* Disabled */
.btn-disabled {
    background-color: #eee;
    color: #888;
    padding: 11px 20px;
    cursor: not-allowed;
    -webkit-appearance: none;
}

.btn-disabled:hover, .btn-disabled:focus {
    background-color: #eee;
    color: #888;
}

/* Full Width */
.btn-block {
    display: block;
    width: 100%;
}

/* Form Buttons (useful in sidebars and columns) */
input[type=submit] {
    padding-top: 0;
    margin-right: 15px;
    cursor: pointer;
}

.btn-cancel {
    font-weight: bold;
    text-align: center;
    display: block;
    padding: 11px 20px;
    border: 1px solid #bbb;
    color: #777;
    text-decoration: none;
}

@media all and (min-width: 43.75em) {
    .btn-cancel {
        text-align: left;
        display: inline-block;
        padding: 0;
        border: 0;
    }
}


/* Non-semantic Helpers
-------------------------------- */

.uppercase {
    text-transform: uppercase;
}

.reg {
    position: relative;
    top: -4px;
    font-size: 0.7em;
}

.img-left {
    float: left;
    height: auto;
    margin: 5px 20px 20px 0;
}

.img-right {
    float: right;
    height: auto;
    margin: 5px 0 20px 20px;
}

.sidebar .img-left {
    margin: 2px 10px 5px 0;
}

.sidebar .img-right {
    margin: 2px 0 5px 10px;
}

.indent {
    margin-left: 10px;
    margin-right: 10px;
}

.outdent {
    margin-left: auto;
    margin-right: auto;
}

.outline {
    border: 1px solid #999;
}

.outline-pad {
    padding: 5px;
    border: 1px solid #999;
}

.sidebar .outline-pad {
    padding: 3px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.clear {
    clear: both;
}

/* micro clearfix
   http://nicolasgallagher.com/micro-clearfix-hack/
*/

.clearfix:after, .cf:after, .grid:after, .box:after {
    content: "";
    display: table;
    clear: both;
}

/* accessibility, print, image replacement */

.visually-hidden, .screen-reader-text, .wai, .ir {
    position: absolute;
    left: -999em;
    overflow: hidden;
    background-repeat: no-repeat;
    text-align: left;
    direction: ltr;
    width: 0;
    height: 0;
}


/* Simple Grids
-------------------------------- */

@media all and (min-width: 43.75em) {
    
    .grid .one-half, .grid .one-third, .grid .two-thirds, .grid .one-fourth, .grid .three-fourths,
    .grid .one-fifth, .grid .two-fifths, .grid .three-fifths, .grid .four-fifths,
    .grid .one-sixth, .grid .five-sixths {
        float: left;
        margin-left: 1.8691588785046727%;
    }
    
    .grid .one-half {
        width: 49.06542056074766%;
    }
    
    .grid ul.one-half {
        width: 47%;
    }
    
    .grid .one-third {
        width: 32.05607476635514%;
    }
    
    .grid .two-thirds {
        width: 64.11214953271028%;
    }
    
    .grid .one-fourth {
        width: 23.551401869158877%;
    }
    
    .grid .three-fourths {
        width: 70.65420560747664%;
    }
    
    .grid .one-fifth {
        width: 18.50467289719626%;
    }
    
    .grid .two-fifths {
        width: 37.00934579439252%;
    }
    
    .grid .three-fifths {
        width: 55.51401869158879%;
    }
    
    .grid .four-fifths {
        width: 74.01869158878505%;
    }
    
    .grid .one-sixth {
        width: 15.046728971962617%;
    }
    
    .grid .five-sixths {
        width: 75.23364485981308%;
    }
    
    .grid div:first-child {
        margin-left: 0 !important;
    }
}
